/* line 1, ../sass/homepage-new.sass */
.check {
  display: inline-block;
  width: 47%;
  margin-top: 0;
  font-size: 12px;
  padding: 0;
}

/* line 7, ../sass/homepage-new.sass */
.wording-notification {
  font-size: 12px;
  margin-top: 20px;
}

/* line 10, ../sass/homepage-new.sass */
.notification {
  font-size: 8px;
}

/* line 12, ../sass/homepage-new.sass */
.notification-tag {
  font-size: 8px;
  padding: 3px 6px;
  font-weight: lighter;
}

/* line 16, ../sass/homepage-new.sass */
.interest-notification {
  margin-bottom: 10px;
}

/* line 19, ../sass/homepage-new.sass */
.profile-notification {
  border: none;
  margin-bottom: 8px;
}

/* line 22, ../sass/homepage-new.sass */
.friend-notification {
  display: none;
}

/* line 24, ../sass/homepage-new.sass */
.delete, .undo {
  width: 20px;
  margin: 5px 5px 0 0;
  float: right;
  display: none;
}
