/* line 1, ../sass/vacabulary-new.sass */
body {
  background: #eee;
}

/* line 3, ../sass/vacabulary-new.sass */
.ui-content {
  padding: 0;
}

/* line 6, ../sass/vacabulary-new.sass */
.category {
  width: 100%;
  text-align: center;
  background: #f6c037;
  margin: 0;
  color: #fff;
}

/* line 12, ../sass/vacabulary-new.sass */
.english {
  padding-top: 40px;
  font-weight: bolder;
  font-size: 36px;
  margin: 0;
}

/* line 17, ../sass/vacabulary-new.sass */
.chinese {
  font-size: 26px;
  padding-bottom: 20px;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: bolder;
}

/* line 23, ../sass/vacabulary-new.sass */
.ui-select {
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}

/* line 28, ../sass/vacabulary-new.sass */
#level-button {
  border: none;
  width: 20%;
  margin: 0 auto;
}

/* line 32, ../sass/vacabulary-new.sass */
.center {
  margin: 0 auto;
}

/* line 34, ../sass/vacabulary-new.sass */
span {
  font-size: 10px;
}

/* line 36, ../sass/vacabulary-new.sass */
.ui-culture {
  border: none;
  margin: 0;
  background: #fff;
  margin-bottom: 5px;
  color: #000;
  text-align: left;
  font-size: 14px;
}

/* line 44, ../sass/vacabulary-new.sass */
.culture {
  margin: 15px 0;
}

/* line 46, ../sass/vacabulary-new.sass */
.type {
  font-size: 14px;
}

/* line 48, ../sass/vacabulary-new.sass */
.vacabulary {
  border: none;
  margin: 0;
}

/* line 53, ../sass/vacabulary-new.sass */
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
  border: none;
  background: #fff;
}

/* line 56, ../sass/vacabulary-new.sass */
.ui-collapsible-heading-toggle {
  color: #000;
  border-color: #fff;
  background: #fff;
  margin-top: 5px;
}

/* line 61, ../sass/vacabulary-new.sass */
.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
  margin: 3px 0;
}

/* line 63, ../sass/vacabulary-new.sass */
.ui-select .ui-btn select {
  height: 30px;
}

/* line 65, ../sass/vacabulary-new.sass */
.ui-btn {
  border: none;
  background: #fff;
}
/* line 68, ../sass/vacabulary-new.sass */
.ui-btn:active {
  background: rgba(246, 192, 55, 0.5);
}

/* line 70, ../sass/vacabulary-new.sass */
.btn-text {
  color: #000;
}

/* line 73, ../sass/vacabulary-new.sass */
.bg {
  background: #f6c037;
  color: #fff;
}
