/* line 1, ../sass/welcome.sass */
.content {
  text-align: center;
}

/* line 3, ../sass/welcome.sass */
paper-input {
  width: 90%;
  margin: 0 auto;
}

/* line 7, ../sass/welcome.sass */
.ui-btn {
  width: 84%;
  border: 1px solid black;
  margin: 0 auto;
  padding: 10px;
}

/* line 12, ../sass/welcome.sass */
.registration {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  color: black;
}

/* line 18, ../sass/welcome.sass */
.ui-link {
  text-decoration: none;
  color: black;
}
